*{
 font-family: "Montserrat", sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.img-logo{
width: 568px;
height: 500px;
margin-left: 125px;
display: inline-block;
}

header{
    margin: 44px 0 144px 76px;
}

.link-header{
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: #989D9C;
   cursor: pointer;
   margin-right: 43px;
}

.button-header{
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;

}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main{
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25) );
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

@media screen and (max-width: 900px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        display: none;
    }
    .img-logo{
        margin: 149px auto 0 auto;
        width: 354px;
        height: 317px;
        display: block;
    }
    main{
        margin: 0 auto;
        text-align: center;
        display: block;
       
    }
    h1{
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        margin-top: 24px;
    }
    h2{ 
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        margin-top: 7px;
    }
    p{
        display: none;

    }
    section{
        display: block;
        margin-left: 0;
    }
    .button-main{
        margin-top: 17px;
    }

}